# Security
client_key=""
admin_key=""

# Datasource
db_connection_string=""

## Search_base: person|contractor
# search_base="person"

prefer_contract_address="True"
prefer_use_unit_type="Wohnung"

# Logging
# log_method graylog|file
log_method="file"
# log_level debug|info|warning|error
log_level="info"
#graylog_host="127.0.0.1"
#graylog_port=12201